body{
        margin: 0px;
        padding: 0px;
        background-color: black;
        color: black;
        text-align: center;
        background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?cs=srgb&dl=pexels-miguel-%C3%A1-padri%C3%B1%C3%A1n-255379.jpg&fm=jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

}
h1{
    font-size: 45px;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    border: black;
}